html, body {
    height: 100%;
    margin: 0;
    font-family: 'Cambo', serif;
    font-size: 14pt;
    background-color: #f2f0eb;
}

/* NAV BAR CSS */
.navBar {
    width: 100%;
    position: fixed;
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: larger;
    border-bottom: 1px solid #ccc;
}

.logo {
    width: 130px;
    height: 65px;
    position: relative;
    padding: 20px;
}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 675px;
    position: absolute;
}
.navButtons a{
    font-family: 'Cambo', serif;
    text-decoration: none;
    margin-top: 40px;
    text-align: center;
    color: #2e2e2e;
    padding-bottom: 3px;
    margin-left: 2%;
    margin-right: 2%;
}
.navButtons a:hover{
    border-bottom: solid;
    border-bottom-color: #54ab6b;
    border-bottom-width: 3px;
}
.welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-right: 50px;
    margin-top: 25px;
    font-weight: bold;
}
.welcome-dash{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
}
#logout {
    text-decoration: none;
    color: #2e2e2e;
    margin-left: 10px;
    padding-bottom: 3px;
    font-size: 18px;
}
#logout:hover{
    border-bottom: solid;
    border-bottom-color: #54ab6b;
    border-bottom-width: 3px;
}
#emergency {
    text-decoration: none;
    color: #ff0000;
    margin-left: 10px;
    padding-bottom: 3px;
    font-size: 18px;
}
#emergency:hover{
    border-bottom: solid;
    border-bottom-color: hsl(0, 100%, 50%);
    border-bottom-width: 3px;
    font-weight: bold;
}
#dashboard{
    border-bottom: solid;
    border-bottom-color: #54ab6b;
    border-bottom-width: 3px;
    font-weight: bold;
}

/* DASHBOARD SETUP */
.main{
    display: flex;
    flex-direction: row;
    padding-top: 140px;
}

/* JOURNAL HUB CSS */
.journal-hub{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: white;
    height: 945px;
    margin-right: 50px;
    padding-bottom: 10px;
}
.journal-hub-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    background-color: #54ab6b;
    color: white;
}
.journal-hub-header img{
    padding-top: 10px;
    height: 40px;
    padding-left: 10px;
}
.journal-hub-header #hub-title{
    margin-right: 325px;
    padding-right: 20px;
}
.createNew{
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #fdfdfd;
    text-decoration: none;
    font-size: 25px;
    margin-top: 20px;
    border-radius: 30px;
}
.createNewSmall {
    display: none;
}
.createNew:hover{
    background-color: #f2f0eb;
}
.createNewSmall:hover{
    background-color: #f2f0eb;;
}
.search-bar{
    border: none;
    height: 50px;
    width: 89%;
    font-family: 'Cambo', serif;
    font-size: 12pt;
    margin: 20px 10px 0px;
    padding: 0px 10px;
    background-color: #f2f0eb;
}
.entries{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow-y:scroll;
    overflow-x:hidden;
    width: 600px;
    height: 950px;
}
.entries a{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 93%;
    background-color: #f0f0f0;
    padding-top:50px;
    padding-bottom:50px;
    text-align: center;
    border-color: #ccc;
    border-width: 2px;
    border-style: solid;
    text-decoration: none;
    color: black;

}
.entries a:hover{
    background-color: #54ab6b;
}

/* PROGRESS / CHATROOM CSS */
.progress-chatroom{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 50px;
    /* margin: 0px 2% 20px 4%; */
    border: none;
}

.progress-graph {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 90%;
    align-items: center;
}

#moodChart {
    margin: 10px;
}

#progress-title {
    background-color: #54ab6b;
    width: 100%;
    height: 80px;
    text-align: center;
}

#progress-title h2 {
    color: white;
    font-weight: bold;
}

.chatroom {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #54ab6b;
    margin: 40px 0px;
    width: 90%;
    padding-bottom: 10px;
}

.chat-header {
    display: flex;
    justify-content: center;
    background-color: #54ab6b;
    width: 100%;
    color: white;
}

.chat-title {
    margin-right: 260px;
}

.chat-status {
  font-size: 20px;
}

.is-online img{
    width: 14px;
    height: 14px;
    padding-right: 5px;
}
.is-online{
    font-family: 'Cambo', serif;
    text-decoration: none;
    color: white;
    margin-left: 70px;
    padding-top: 30px;
}

.chat-display{
    width: 93%;
    height: 250px;
    background-color: white;
    padding-left: 15px;
    padding-top: 15px;
}
.chat-entry {
    height: 40px;
    width: 93%;
    font-family: 'Cambo', serif;
    font-size: 12pt;
    margin-bottom: 10px;
    background-color: #f2f0eb;
    border-radius: 5px;
    border: none;
    padding: 5px;
}

.message-area button{
    padding-right: 10px;
    padding-left: 10px;
    font-family: 'Cambo', serif;
    font-size: 12pt;
    margin-bottom: 1%;
    margin-right: 10px;
}

@media screen and (max-width: 1000px){
    .createNew{
        display: none;
    }
    .chatroom #chat-title{
        width: 70%;
    }
    .is-online{
        font-size: 0;
        width: 10%;
        padding: 0;
        margin: 0;
        padding-top: 14px;
        background-color: transparent;
        border-width: 0px;
    }
    .createNewSmall{
        display: block;
        width: 10%;
        font-family: 'Cambo', serif;
        text-align: center;
        border-radius: 40px;
        border-style: solid;
        border-color: #ccc;
        border-width: 1px;
        background-color: #fdfdfd;
        text-decoration: none;
        font-size: large;
        color: #2e2e2e;
        padding-top: 7px;
        padding-bottom: 7px;
        margin-top: 15px;
        margin-bottom: 15px;
        margin-right: 10px;
    }
}
@media screen and (max-width: 800px){
    .progress-chatroom{
        display:none;
    }
    .main{
        justify-content: center;
    }
    .journal-hub{
        width: 70%;
    }
    .welcome{
        display:none;
    }
}
