html, body {
  height: 100%;
  margin: 0;
  font-family: 'Cambo', serif;
  font-size: 14pt;
  background-color: #f2f0eb;
}

/* Nav Bar */

.navBar {
  width: 100%;
  position: absolute;
  background-color: white;
  font-size: larger;
  display: flex;
  flex-direction: row;
  border-bottom-color: #ccc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.logo {
  width: 130px;
  height: 65px;
  position: relative;
  padding: 20px;
}

.navButtons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 675px;
    position: absolute;
}

.navButtons a{
    font-family: 'Cambo', serif;
    text-decoration: none;
    margin-top: 40px;
    text-align: center;
    color: #2e2e2e;
    padding-bottom: 3px;
    margin-left: 2%;
    margin-right: 2%;
}

.navButtons a:hover{
    border-bottom: solid;
    border-bottom-color: hsl(150, 54%, 44%);
    border-bottom-width: 3px;
}

.welcome {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    padding-right: 50px;
    margin-top: 25px;
    font-weight: bold;
}

.welcome-dash{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 3px;
}

#logout {
    text-decoration: none;
    color: #2e2e2e;
    margin-left: 10px;
    padding-bottom: 3px;
    font-size: 18px;
}

#logout:hover{
    border-bottom: solid;
    border-bottom-color: hsl(150, 54%, 44%);
    border-bottom-width: 3px;
}

#emergency {
    text-decoration: none;
    color: #ff0000;
    margin-left: 10px;
    padding-bottom: 3px;
    font-size: 18px;
}

#emergency:hover{
    border-bottom: solid;
    border-bottom-color: hsl(0, 100%, 50%);
    border-bottom-width: 3px;
    font-weight: bold;
} 

/* Prompts */

.main {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.prompt-container {
  justify-content: center;
  align-items: flex-start;
  margin-top : 120px;
  padding-left: 50px;
}

.prompt-container h3 {
  color: #2e2e2e;
  font-weight: normal;
}

/* Journal Entry */

.journal-entry {
  background-color: white;
  margin-left: 30px;
  width: 95.75%;
  height: 60%;
}

.title-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button-container {
  width: 80%;
  margin-right: 20px;
  display: flex;
  flex-direction: row; 
  justify-content: flex-end;
  padding-bottom: 10px;
  /*align-items: center;*/
}

.button-container button {
  height: 70px;
  width: 70px;
  margin-right: 20px;
  padding: 20px;
  border: none;
  color: white;
  background-color: #54ab6b;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  font-family: 'Cambo', serif;
  font-size: 11pt;
  font-weight: bold;


}

#title-input {
  width: 500px;
  border: none;
  height: 50px;
  font-family: 'Cambo', serif;
  font-size: 16pt;
  padding: 0 10px;
  margin: 5px;
  background-color: #f2f0eb;
}

.entry-container {
  margin-left: 20px;
}

#entry {
  width: 96.25%;
  height: 96.25%;
  border: none;
  font-family: 'Cambo', serif;
  font-size: 16pt;
  padding: 0 10px;
  margin: 5px;
  background-color: #f2f0eb;
  padding-top: 10px;
}

.contact-patient {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contact-patient a {
    color: #54ab6b;
    text-decoration-line: none;
    margin-bottom: 20px;
}